<h1 class="hello">
  <span class="hello__greeting">Hi, I'm</span>
  <span class="hello__name">kaishiro</span>
</h1>

<div class="data">

  <div class="data__heading">
    Currently...
  </div>
  
  <div class="data__group data__group--sleeping" data-sleeping="<%= @sleeping %>">
    I'm <span class="data__point"><%= (@sleeping? "sleeping." : "awake!") %></span>
  </div>

  <% if @sleeping %>
    <div class="data__group">
      I've been sleeping for <span class="data__point"><%= @sleep_duration %></span>
    </div>
    <div class="data__group">
      <%= @sleep_quote %>
    </div>
  <% else %>
    <div class="data__heading">
      Last night...
    </div>

    <div class="data__group">
      I slept for <span class="data__point"><%= @sleep_duration %></span>
    </div>

    <div class="data__heading">
      Today...
    </div>
    
    <div class="data__group">
      I <span class="data__point"><%= (@vitamin? "took a vitamin!" : "didn't take a vitamin :(") %></span>
    </div>  
    
    <div class="data__group">
      I <span class="data__point"><%= (@exercises? "did some exercises!" : "didn't exercise :(") %></span>
    </div>  
    
    <div class="data__group">
        I weigh <span class="data__point"><%= @weight %></span> pounds.
    </div>  

    <div class="data__group">
      I've <%= @food_verb %> <span class="data__point"><%= @calories %></span> calories.
    </div>  
    
    <div class="data__group">
      I've <%= @water_verb %> <span class="data__point"><%= @waters %></span> of my 8 glasses of water today.
    </div>  
    
  <% end %>

  

</div>
